@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}

.hide-scrollbar {
  scrollbar-width: none; 
}


@layer utilities {
  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexCol {
    @apply flex flex-col items-center justify-center;
  }
}
